
html, body {
  overflow: hidden; 
	height:100%;
  background-size: 100% 100%;
  background-color: #6497b1;
}

#files {
	width: 250px;
	height: 100%;
	display:inline-block;
	vertical-align:top;
  padding: 3px;
}

#area {
	width: 80%;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  display:inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 390px;
  /* 50px of padding so navbar doesn't overlap content! */
  padding-top: 52px; 
}

#signin {
  width: 50%;
  margin: auto;
  margin-top: 20%;
  /*font-family: Helvetica, sans-serif;*/
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  color: #D6D6D6;
}

.sign-in {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
}

.signinbtn {
  margin-left: 39%;
  text-align: center;
  text-decoration: none;
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 300;
}

.signinbtn:hover, .logout:hover, .submit:hover {
  color: #329999;
  text-decoration: underline;
}

.logout {
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-left: 10px;
}

.navbar {
  height: 25px;
}

.submit {
  margin-left: 5px;
}

.submit:visited {
  text-align: center;
  text-decoration: none;
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 300;
  float: right;
  margin-left: 10px;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
}

.dev {
  border: 2px solid black;
}

.nav > li > p {
  color: #777;
  text-align: center;
  background: transparent;
}

.tree {
  margin-top: 20px;
  color: white;
}

.tree > p {
  padding-left: 20px;
}

.herokulogin, .fa-code-fork {
  max-height: 30px;
}

.spinner {
  text-align: center;
  color: white;
}

.nav {
  cursor: pointer;
}













