/*.CodeMirror-merge-pane {
	width: 0
}

.CodeMirror-merge-pane-rightmost {
	width: 100%
}
*/


html, body {
	height:100%;
}

#files {
	width: 200px;
	/*height: 100%; */
	display:inline-block;
	vertical-align:top;
	border: 2px solid black;
}

#area {
	width: 80%;
	display:inline-block
}