
html, body {
  overflow: hidden; 
	height:100%;
  background: linear-gradient(314deg, #227d66, #144496) no-repeat center center;
  background-size: 100% 100%

  -webkit-animation: AnimationName 37s ease infinite;
  animation: AnimationName 37s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

#files {
	width: 200px;
	height: 100%;
	display:inline-block;
	vertical-align:top;
}

#area {
	width: 80%;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  display:inline-block;
  font-size: 16px;
  font-weight: 300;
  height: 390px;
}

#signin {
  width: 50%;
  margin: auto;
  margin-top: 20%;
  /*font-family: Helvetica, sans-serif;*/
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  color: #D6D6D6;
}

.sign-in {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
}

.signinbtn {
  margin-left: 39%;
  text-align: center;
  text-decoration: none;
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 300;
}

.signinbtn:hover, .logout:hover, .submit:hover {
  color: #329999;
  text-decoration: underline;
}

.logout {
  text-align: center;
  text-decoration: none;
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 300;
  float: right;
  margin-left: 10px;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
}

.navbar {
  margin-bottom: 5px;
  height: 25px;
}

/*.repo-list > p, .submit {
  color: #D6D6D6;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 300;
}*/

.submit {
  margin-left: 5px;
}

.submit:visited {
  text-align: center;
  text-decoration: none;
  color: #D6D6D6;
  font-size: 16px;
  font-weight: 300;
  float: right;
  margin-left: 10px;
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
}

.dev {
  border: 2px solid black;
}

#commitMessage {
  /*width: 20%;*/
}

.nav > li > p {
  color: #777;
  text-align: center;
}

.tree {
  margin-top: 20px;
}




