.video-chat-area {
  /*font-family: Arial, sans-serif;*/
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  background-color: gray;
  /*position: absolute;*/
  position: fixed;
  width: 190px;
  bottom:4px;
  left:5px;
  color: white;
  height: 30%;
  overflow: scroll;
}

#video-chats {
 
}

.video-chats-area {
  
  overflow: scroll;
  
  width: 190px;
  bottom:4px;
}

.shown {
  display: visible;
}

.hidden {
  display: none;
}

.video-id-banner {
  text-align: center;
  /*background-color: white;*/
}

#video-chat-title {
  text-align: center;
}

#video-call-status {
  text-align: center;
}

#video-call-controls {
  /*background-color: gray;*/
  height:100%;
  width:100%;
  position: absolute;
  bottom:2px;
}

#video-container {
  /*background-color: gray;*/
  margin:4px;
}

.my-video {
  position: static;
  display:block;
  bottom:20px;
  width: 190px;
 
  /*background-color: white;*/
  text-align: center;
}

.their-video {
  width: 190px;
  /*background-color: gray;*/
  text-align: center;
}

.meeting-control {
  display:inline-block;
  width:190px;
 
  text-align: center;
  
  bottom:2px;
  
}

#controls {
  width:190px;
  position: fixed;
  text-align: center;
  cursor: pointer;
  bottom:2px;
}

/*
#setup-new-meeting {
  display:inline-block;
  width:190px;
  position: fixed;
  text-align: center;
  left:10px;
  bottom:2px;
  cursor: pointer;
}

#leave-current-meeting {
  display:inline-block;
  width:190px;
  position: fixed;
  text-align: center;
  bottom:2px;
  left:10px;
  cursor: pointer;
}
*/
