.video-chat-area {
  font-family: Arial, sans-serif;
  background-color: red;
  position: fixed;
  width: 180px;
  bottom:10px;
  left:10px;
}

#video-container {
  background-color: blue;
  margin:4px;
}

#my-video {
  width: 100%;
  padding-bottom: 8px;
  background-color: white;
  text-align: center;
}

#their-video {
  width: 100%;
  background-color: green;
  text-align: center;
}

#step1 {

}

#step2 {

}

#step3 {

}