<!-- fileStruct template partial containing the file structure -->
<ng-controller = "fileStructCtrl">

<script type="text/ng-template"  id="fileStruct.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'fileStruct.html'"></li>
    </ul>
</script>

<h1>FUNKY FILES GO HERE</h1>  <!--- PROOF OF CONCEPT WHEN ANGULAR IS WORKING -->

<ul ng-app="codeColab" ng-controller="fileStructCtrl">
    <li ng-repeat="data in fileStruct" ng-include="'fileStruct.html'"></li>
</ul>


<script type="text/ng-template"  id="fileStruct.html">
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'fileStruct.html'"></li>
    </ul>
</script>

<ul ng-app="codeColab" ng-controller="fileStructCtrl">
    <li ng-repeat="data in fileStruct" ng-include="'fileStruct.html'"></li>
</ul>
