<link rel="stylesheet" href="../../styles/styles.css">
<div class = 'mainpage'>
  <div id="files" >
    <ng-include src="fileStruct.url"></ng-include>
  </div>
  <div id="area">
    <ng-include src="videochat.url"></ng-include>
    <div class = 'navbar'>
      <a href='/logout' class='logout'>
        <span class="fa fa-sign-out"></span>
        Logout
      </a>
      <div class = "repo-list">
        <p>Please select a repository:</p>
        <select ng-options = "repo.name for repo in repos track by repo.id" ng-model = "selectRepo" ng-change="saveRepo(selectRepo)">
        </select>
        <input ng-model='commitMSG' id='commitMessage' placeholder='Your Changes'></input>
        <a href='/#/main' class='submit' ng-show='check()' ng-click='commit(commitMSG)'>
          Submit Changes
        </a>
        <a href="#" ng-click='deployApp()'>
          <img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy">
        </a>
      </div>
    </div>
  </div>
</div>